/* All of POS */
body {
	font: .8em Arial, Sans-Serif;
	line-height: 1.0em;
	background: #375AAA none repeat scroll 0 0;
	color: #444;
	text-align: center;
}

a{ font-family:Verdana; color:#FF7A09; font-weight:bold; text-decoration:none; cursor: pointer;}

a:hover{ font-family:Verdana; color:#FF8000; font-weight:bold; text-decoration:underline; }

a:visited {color: #FF7A09; text-decoration: none;}

/* ccca:hover {color: #333; text-decoration: underline;} */

h2 { margin: 0 0 10px; padding: 10px 0 3px; }

h3 { padding-left: 10px; color: #000000; background: #FE7B09; font-size: 1em; height: 24px; line-height: 24px; }


.title{font-family:Verdana; color:#000000;  font-weight:bold;
	border-bottom: 3px solid #375AAA }
.ui-jqgrid-views{border-bottom: 3px solid #FE7B09;padding:2px 2px;}
.help{font-family:Verdana; color:blue; font-size: 11px;}

/* Save Messages */

.success {
	color: green;
	font-size: 14px;
}

/* Category Page / Seating Chart */

.pm_box {
	text-align: center;
	margin: 0 auto;
}
.pm_free {
	background-color:#0d0;
	width:18px; height:18px;
	border-right:#00ff00 1px solid;	border-bottom:#00ff00 1px solid;
	padding:0px;
}
.pm_free:hover{
	background-color:#099;
}
.pm_resp {
	background-color:#FFA500;
	width:18px; height:18px;
	border-right:#00ff00 1px solid;	border-bottom:#00ff00 1px solid;
	padding:0px;
}
.pm_occupied {
	background-color:#d00;
	width:18px; height:18px;
	border-top:#000000 1px solid; border-left:#000000 1px solid;
	padding:0px;
}
.pm_none {
	background-color:#fff; padding:0px;
	width: 18px; height: 18px;
}

input.pm_check{
	width:19px; height:19px;
	margin:0px;border:0px
}

td.pm_nosale{background-color:#d2d2d2;width:19px; height:19px;}
td.label_T{color:#666666;font-size:12px;text-align:center;}
td.label_E{color:#666666;font-size:12px;text-align:center;background-image:url('images/theme/default/exit.gif');height:19px;width:19px;}
td.label_RE{color:#666666;font-size:12px;text-align:center;border:#cccccc 1px solid;background-color:#eeffff;height:19px;width:19px;}
td.label_RW{color:#666666;font-size:12px;text-align:center;border:#cccccc 1px solid;background-color:#eeffff;height:19px;width:19px;}
td.label_SS{color:#666666;font-size:12px;text-align:center;border:#cccccc 1px solid;background-color:#eeffff;height:19px;width:19px;}
td.label_SN{color:#666666;font-size:12px;text-align:center;border:#cccccc 1px solid;background-color:#eeffff;height:19px;width:19px;}


/* Individual Event page */
.event_description{font-family:Georgia; color:#000000;font-size:10px;text-align:justify;}
.event_description_big{font-family:Georgia; color:#000000;font-size:12px;text-align:justify;}
.event_data{font-family:Verdana; color:#000000;font-weight:bold;font-size:11px; }
.shop_link{font-family:Verdana; color:#FF8000;font-weight:bold;TEXT-DECORATION:none;font-size:11px;}
.shop_link:hover{font-family:Verdana; color:#FF8000;font-weight:bold;TEXT-DECORATION:underline;font-size:11px; }
.menu{border-top:#45436d 1px solid; padding-top:5px;}
.menu_td{padding-left:10px;padding-bottom:10px; font-family:Verdana; font-weight:bold;}
.menu_langs{border-top:#45436d 1px solid;border-bottom:#45436d 1px solid; padding-top:5px;padding-bottom:5px;}
.langs_link{color:#996633;font-family:Verdana;font-weight:bold;TEXT-DECORATION:none;font-size:11px;}
.langs_link:hover{color:#996633;font-family:Verdana;font-weight:bold;TEXT-DECORATION:underline;font-size:11px;}
.event_info_item{font-family:Verdana; color:#000000;font-weight:bold;font-size:11px; }
.event_info_value{font-family:Verdana; color:#000000;font-size:11px; }
.note{font-family:Verdana; color:#000000;font-size:10px;}
.cat_info_item{font-family:Verdana; color:#000000;font-weight:bold;font-size:12px; }
.cat_info_value{font-family:Verdana; color:#000000;font-size:12px; }
.cart_menu{padding-left:32px;font-family:Verdana; color:#000000;font-size:11px;font-style: italic;}
.cart_menu_title{font-family:Verdana; color:#996633;font-size:12px;font-weight:bold;}
.choice_info{font-family:Georgia; color:#000000;font-size:12px;}
.view_cart_title{font-family:Verdana; color:#996633; font-weight:bold;font-size:12px;}
/*.view_cart_td{font-family:Verdana; color:#000000;font-size:12px;}*/
.view_cart_td{font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 11px;
word-spacing: 2px;
line-height: 12px;}
.view_cart_total{font-family:Verdana; color:#000000;font-size:14px;font-weight:bold;}
.order_ptotal{font-family:Verdana; color:#000000;font-size:12px;}

.admin_order_ord{background-color:#99ccff;}
.admin_order_paid{background-color:#99ffcc;}
.admin_order_send{background-color:#ffcccc;}
.admin_order_cancel{background-color:#cccccc;}
.admin_order_reissue{background-color:#ffffcc;}
.admin_order_res{background-color:#FFA500;}
.admin_list_row_0{background-color:#F3F3F3}
.admin_list_row_1{background-color:#E3E3E3}


inputx,selectx{
COLOR : #996633;
BORDER: #45436d 1px solid;
BACKGROUND-COLOR:#f5f4f4;}

inpuxt:hover{
COLOR : #ff8000;
BORDER: #45436d 1px solid;
BACKGROUND-COLOR:#f5f4f4;}

p.title_group{font-family:Verdana; color:#996633; font-weight:bold;margin-left:210px;}
p.event_group_description{font-family:Georgia; color:#000000;font-size:10px;margin-left:210px;text-align:justify;}
.cart_resume{border:#45436d 1px solid; background-color:#ffffff; padding:10px;}
.user_item{font-family:Verdana; font-size:12px;background-color:#E3E3E3;}
.user_value{font-family:Verdana; font-size:12px;background-color:#F3F3F3;}*/
.menu_login{padding-left:10px;padding-bottom:10px; font-family:Verdana; font-weight:bold;font-size:10px;color:#996633;}
.user_address{font-family:Verdana; color:#000000;font-size:11px;}
.user_address_td{font-family:Verdana; color:#000000;font-size:12px;}
.payment_form{font-family:Verdana; color:#000000;font-size:12px; vertical-align: top;}
.calendar{font-family:Arial; color:#000000;font-size:12px;}
.cal_link{font-family:Arial; color:#000000;font-size:12px;TEXT-DECORATION:none;}
.cal_link:hover{font-family:Arial; color:#666666;font-size:12px;TEXT-DECORATION:underline;}
.festival{border-top:#45436d 1px solid;border-bottom:#45436d 1px solid;
          font-family:Arial; color:#000000;font-size:12px;background-color:#d6d6d6;}
.list{font-family:Verdana; color:#333333;font-size:12px;TEXT-DECORATION:none;}
.list:hover{font-family:Verdana; color:#666666;font-size:12px;TEXT-DECORATION:underline;}
.discount_item{font-family:Verdana; color:#000000;font-weight:bold;font-size:12px; }
.discount_value{font-family:Verdana; color:#000000;font-size:12px; }
.printer{font-family:Verdana; color:#000000;font-size:12px;}
.admin_info{font-family:Verdana; color:#000000;font-size:12px;}
.subtitle{font-family:Verdana; color:#333333;font-size:12px; font-weight:bold;}

#wrap {
	/* overflow:auto;  */
    padding: 10px 10px 3px 10px;
	width: 780px;
	margin:20px auto;
	background: #fff;
	text-align: left;
}

#right {
	margin: 0px;
 	width: 100%;
 	padding: 0;
 	display: block;
}

#left { float: left; width: 180px; background: #FFD8AF; margin-bottom: 10px; margin-top: 20px; border: 1px dotted #FF8B1E; }

#left ul { padding: 5px 10px 10px 10px; margin: 0; }



#navbar {
	margin: 0 auto;
	padding: 0;
	position: relative;
    width: 100%;
	height: 22px;
	background: #ffffff url(../images/theme/default/back2.gif) 0 100% repeat-x;
	font: bold 12px Verdana, Helvetica, Arial, sans-serif;
	border-bottom: 3px solid #375AAA;
}

#navbar ul {
	margin: 0 0 10px;
	padding: 0;
	float: left;
}

#navbar li {
	padding: 0 0px 0 0;
	margin: 0;
  list-style-type: none;
	line-height: 22px;
	float: left;
	background: url(../images/theme/default/back1.gif) 0 100% no-repeat;
}

#navbar ul li a:link, #navbar ul li a:active, #navbar ul li a:visited {
	display: block;
	float: left;
	padding: 0 10px;
  color: #000;
  text-decoration: none;
}

#navbar ul li a:hover {
	background: url(../images/theme/default/back1.gif) 0 100% repeat-x;
}

.ui-state-default {
	padding: 5px;
}

.loading {
	float:right;
	overflow: auto;

}

#footer {
  font-size: 11px;
	margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 2px 5px 2px 0px;
  display: block;

  width:99%;
  /*float:left;*/
}

#header {
	/*overflow: auto;*/
	text-align: left;
	width: 100%;
}

#header h1 {
	font-size: 30px;
	font-weight: 100;
	letter-spacing: -1px;
	padding: 22px 0 5px 10px;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
}

#header h1 a:hover {
	color: #000;
	text-decoration: none;
}

#header h2 {
	color: #333000;
	font-size: 19px;
	font-weight: 100;
	padding: 3 0px 3 05px;
	letter-spacing: 5px;
	line-height: 12px;
	text-align: left;
}
#header ul {
	clear: left;
	margin: 5px auto;
	display: block;
	overflow: auto;
	text-align: center;
}

#header ul li {
	display: inline;
	list-style-type: none;
	margin: 10px;
	font-size: 1.4em;
	overflow: auto;
}
#header ul li a:hover {
	color: #4F07E2;
}

table.UITabMenuNav{
 border-bottom: 3px solid #375AAA ;
}

td.UITabMenuNavOff{
background:#dddddd;
color:#000000;

font-size:x-small;
FONT-VARIANT: small-caps;
text-align: center;
border-bottom:1px solid #ffffff;
text-decoration:none;
}
td.UITabMenuNavOn{
  background: #C0C0C0;
	color:#ffffff;
  text-decoration:none;

	font-size:x-small;
	FONT-VARIANT: small-caps;
	text-align: center;
  border-bottom:1px solid #C0C0C0;
	}


A.UITabMenuNavOff{
text-decoration:none;
font-weight: bold;
}

A.UITabMenuNavOff:link{
  color: #444444;
   }
A.UITabMenuNavOff:visited {
  color: #444444;
   }
A.UITabMenuNavOff:hover {
  color: #000000;
  text-decoration: underlay;
  }

A.UITabMenuNavOn{
text-decoration:none;
font-weight: none;
}

A.UITabMenuNavOn:link{
  color: #ffffff;
   }
A.UITabMenuNavOn:visited {
  color: #ffffff;
   }
A.UITabMenuNavOn:hover {
  text-decoration: underlay;
  }

.UITabMenuChildMenu{
	background:#000066;
	color:#ffffff;
	font-size:x-small;
	padding:4px;
	}
.UITabMenuChildMenu:hover{
	background:#000066;
	color:#ffffff;
	font-size:x-small;
	padding:4px;
        }


/* Form Validation */
input.form-error { border: 1px solid red; width: auto; }
label.form-error {
	background: url('../images/theme/default/error.png') no-repeat;
	padding-left: 16px;
	margin-left: .3em;
	color: red;
	}
label.form-valid {
	background: url('../images/theme/default/checked.gif') no-repeat;
	display: inline;
	width: 16px;
	height: 14px;
  margin-left: .3em;
}


.admin_list_header{
  background-color:#888888;
  border-style: #cccccc 1px solid;
}