/* begin Page */

/* Created by Artisteer v3.1.0.42580 */

#art-page-background-glare
{
   display: none;
}

.cleared
{
   width:1px;
}

/* Start Box */
.art-box, .art-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.art-bar{
   zoom:1;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.art-sheet {
   background:#F9FAFB;
}
#art-page-background-top-texture, #art-page-background-middle-texture
{
   width: expression(document.body.clientWidth>1000?"100%":"1000px");
}

/* end Box, Sheet */

/* begin HeaderObject */
div.art-headerobject
{
   font-size: 1px;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/theme/newdefault/header-object.png',sizingMethod='scale')");
}
/* end HeaderObject */

/* begin Menu */
.art-hmenu li.art-hmenuhover{
   z-index: 10000;
}
.art-hmenu .art-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.art-hmenu .art-hmenuhoverUL .art-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.art-hmenu ul li {
   float: left !important;
   width: 100%;
}
.art-nav
{
   zoom: 1;
   height: 32px;
   background:#D6DEE6;
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a
{
   display:inline-block;
   color: #3F5469;
   padding: 0 6px;
   line-height: 26px;
   text-align: center;
}

.art-hmenu a.active
{
   color: #C84504;
   background-color:#F9FAFB;
}

.art-hmenu a:hover, .art-hmenuhoverA,  .art-hmenuhover a
{
   color: #7F5305;
   background-color:#FC8D55;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'2px');
}
ul.art-hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
   color: #872F03 !important;
   float: left;
   text-indent: 8px;
}

.art-hmenu ul a:hover, .art-hmenu ul .art-hmenuhover .art-hmenuhoverA
{
   color: #000000 !important;
   background-position: left bottom;
}

/* end MenuSubItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row, .art-layout-cell
{
   display: block;
   zoom: 1;
}
.art-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock {
   background:#F9FAFB;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader {
   background:#5F9FC4;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent {
   background:#F9FAFB;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu, ul.art-vmenu ul, ul.art-vmenu li, ul.art-vmenu a
{
   position:relative;
   zoom: 1;
}

ul.art-vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'4px');
}
ul.art-vmenu ul{
   margin-top:4px;
   padding-bottom: 0;
}

ul.art-vmenu a
{
   color: #7691AD;
   background-color:#F9FAFB;
   padding: 0 11px 0 11px;
   height: 22px;
   line-height: 22px;
}

.art-vmenu a.active
{
   color: #7D2B03;
   background-color:#FC9764;
}

ul.art-vmenu a:hover
{
   color: #A9CCDF;
   background-color:#EB5105;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul a
{
   color: #41576C !important;
}

ul.art-vmenu li li
{
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'2px');
}

ul.art-vmenu ul ul {
   margin-top:2px;
}

ul.art-vmenu ul a.active
{
   color: #A53903 !important;
}

ul.art-vmenu ul a:hover {
   color: #DAE9F1 !important;
}

/* end VMenuSubItem */

/* begin Box, Block */
.art-block {
   background:#F9FAFB;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader {
   background:#DCE3EA;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent {
   background:#F9FAFB;
}
.art-blockcontent-body ul li
{
   height: 1%;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/theme/newdefault/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper
{
   zoom: 1;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
   display: none;
}

.art-button-wrapper .art-button
{
   float: left;
}
/* end Button */

/* begin Box, Post */
.art-post {
   background:#F9FAFB;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons span
{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
   height: 1%;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/theme/newdefault/postbullets.png',sizingMethod='crop')");
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.art-post ul ol li
{
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons span
{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer-body{
   padding-right: 0;
   zoom:1;
}
.art-footer{
   zoom:1;
   background:#D6DEE6;
}

.art-footer-text
{
   height: 33px;
}

.art-rss-tag-icon
{
   zoom: 1;
   font-size: 1px;
}

/* end Footer */

/* begin LayoutCell, content */
.art-sidebar2 {
   width: auto;
}
/* end LayoutCell, content */

