
.title_link img {
  margin:0 !important;
}

td.thumb3{}
td.thumb3 img.thumbnail{border:1px solid black; }
.ad_list_row_normal1  {cursor:hand;}

h4.evt_title {
 margin-top: 2px;
 margin-bottom: 2px;
}
table.UITabMenuNav{
   border: 0px;
}

table.UITabMenuNav{
 border-bottom: 3px solid #375AAA ;
 padding: 0;
 margin: 0;
}

td.UITabMenuNavOnleft { background: #C0C0C0;
	background-image: url('../img/left_arc.gif');
  background-repeat:no-repeat;
  background-position:left top;width: 10px;
}

td.UITabMenuNavOnright { background: #C0C0C0;
	background-image: url('../img/right_arc.gif');
  background-repeat:no-repeat;
  background-position:right top;width: 10px;
}

td.UITabMenuNavOffleft {background:#dddddd;

	background-image: url('../img/left_arc.gif');
  background-repeat:no-repeat;
  background-position:left top; width: 10px;
  border-bottom:1px solid #ffffff;
}

td.UITabMenuNavOffright {background:#dddddd;

	background-image: url('../img/right_arc.gif');
  background-repeat:no-repeat;
  background-position:right top;width: 10px;
  border-bottom:1px solid #ffffff;
}

td.UITabMenuNavOff{
  background:#dddddd;
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:x-small;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom:1px solid #ffffff;
  text-decoration:none;
}

td.UITabMenuNavOn{
  background: #C0C0C0;
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	text-align: center;

  border-bottom:1px solid #C0C0C0;
  padding: 0;
  margin: 0;
}


A.UITabMenuNavOff{
text-decoration:none;
font-weight: bold;
padding: 0;
 margin: 0;
  vertical-align: top;

}

A.UITabMenuNavOff:link{
  color: #444444;
   }
A.UITabMenuNavOff:visited {
  color: #444444;

   }
A.UITabMenuNavOff:hover {
  color: #000000;
}

A.UITabMenuNavOn{
text-decoration:none;
font-weight: none;
}

A.UITabMenuNavOn:link{
  color: #ffffff;
   }
A.UITabMenuNavOn:visited {
  color: #ffffff;
   }
A.UITabMenuNavOn:hover {
  text-decoration: underline;
  }

.UITabMenuChildMenu{
	background:#000066;
	color:#ffffff;
	font-size:x-small;
	padding:4px;
	}

.UITabMenuChildMenu:hover{
	background:#000066;
	color:#ffffff;
	font-size:x-small;
	padding:4px;
}

.cell-thumb {
    vertical-align: middle !important;
}

.RowEven {
  background-color:#D9D9D9;
  border: 1px solid #FFFFFF;
    vertical-align: top;
  padding: 2px;
}

.RowEven td {
  border: 2px solid #FFFFFF;
    vertical-align: top;
  padding: 3px 2px 2px 2px;
}
tr.RowEven:hover {background-color:#Faede4}

.RowOdd {
  background-color:#cdcdcd;
  border: 1px solid  #FFFFFF;
   vertical-align: top;
 padding: 2px;
  }
.RowOdd td {
    border: 2px solid #FFFFFF;
    vertical-align: top;
    padding: 3px 2px 2px 2px;
}

tr.RowOdd:hover {background-color:#Faede4}


.art-articlebord th, .art-articlebord td
{
    padding: 2px;
    border: solid 1px #9E9E9E;
    vertical-align: top;
    text-align: left;
}
img.image
{
    margin:0;
    padding:0;
    border:none;
}
.tr_0{
    background-color:#D6DEE6;
}
.tr_1{
    background-color:#EEF1F5;
}


.admin_list img {margin: 0px}
.admin_list_header{
  background-color:#888888;
  border-bottom:1px solid #777777;
}
.admin_list_buttons {
  padding-top: 2px;
  padding-bottom: 1px;
  border-left:0px;
}

.admin_list_item {
  padding-left: 7px;
}

.admin_list_header th {
  text-align: left;
  padding-bottom: 3px;
  padding-top: 3px;
  border-left:2px solid #ededed;
  border-right:2px solid #ededed;
}




tr.admin_list_row_0{
  background-color:#cdcdcd;
  border-bottom: 2px solid #ededed;
  border-left:2px solid #ededed;
  border-right:2px solid #ededed;
}
tr.admin_list_row_0:hover {background-color:#Faede4}

tr.admin_list_row_1{
  background-color:#dfdfdf;
  border-bottom: 2px solid #ededed;
  border-left:2px solid #ededed;
  border-right:2px solid #ededed;
}
tr.admin_list_row_1:hover {background-color:#Faede4}


.admin_list_row_0 td, .admin_list_row_1 td{
  border-left:2px solid #ededed;
  border-right:2px solid #ededed;
}

.admin_list_header th:last-child, .admin_list_row_0 td:last-child, tr.admin_list_row_1 td:last-child {
  border-right:1px solid #bbbbbb  !important;
}
.admin_list_header th:first-child, .admin_list_row_0 td:first-child, .admin_list_row_1 td:first-child {
  border-left:1px solid #bbbbbb  !important;
}
.admin_list{
  border:1px solid #bbbbbb  !important;
}


.admin_list_hover{background-color:#Faede4}

.admin_list_title{font-size:16px; font-weight:bold;color:#555555;}

.admin_list_subtitle{font-size:12px; font-weight:bold;}

/* Button Layouts for new jQuer Framework */

.admin-button {
   outline: 0;
   margin:0 .05em 0 0 ;
   padding: .05em .05em;
   text-decoration:none !important;
   cursor:pointer;
   display: inline-block;
   position: relative;
   text-align: center;
   zoom: 1;
}

.admin-toolbutton {
   outline: 0;
   padding: .05em .05em;
   text-decoration:none !important;
   cursor:pointer;
   display: inline-block;
   position: relative;
   text-align: center;
   zoom: 1;
   margin:0px !important;
}

.admin-button:hover {
  background: #DADADA;
  border:1px solid #999999;
  color:#212121;
  outline:medium none;
}

.admin-button-text{
  padding: .1em .4em;
  margin: 0 2px;
}

.admin-button-icon-left{
  padding: .2em .6em;
  padding-left: 2.5em;
}

.ui-buttonx {height: 30px;
font-size: 11px;
}
li.firstmenu {
  border-right: 3px outset  #777777;
  border-left: 3px outset #777777;
}
li.firstmenu:last-child {
  border-bottom: 3px outset #777777;
}

li.submenu:hover {
  border-top: 1px solid  #777777;
  border-bottom: 1px solid #777777;
}

li.submenu {
  border-right: 2px outset  #777777;
  border-left: 2px outset #777777;
}
li.submenu:last-child {
  border-bottom: 2px outset #777777;
}

li.submenu:first-child {
  border-top: 2px outset #777777;
}

.uix-tabs .ui-tabs-nav li a {
    padding: 0.2em 1em;
}

.gui_form { }

.gui_form fieldset {
  border:0px;
}

.gui_form p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 1px;
  border-bottom:1px solid #DDDDDD;
}

.gui_form p:last-child {
  border-bottom:0px solid #DDDDDD;
}
.gui_form span p {
  border-bottom:1px solid #DDDDDD  !important;
}
.gui_form label.input {
    width: 30%;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    margin: 2px;
    margin-right:0px;
    margin-left:0px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 2px;

}
.gui_form label.input strong {
  color:red;
  float:right;
}

.gui_form label.full, .gui_form span.full {
    width: 99% !important;
    margin-left:  0px !important;
    margin-right: 0px !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

label.full strong {
  color:red;
  float:none;
  margin-left: 6px;
}


.gui_form span.input {
     position: relative;
     clear: none;
     display: inline-block;
     min-height: 20px;
     width: 63%;
     padding: 2px;
     margin: 2px;
     margin-left: 0px;
     margin-right: 0px;
     padding-left: 3px;
}

.gui_pager {
display: inline-block;
  margin-left: auto !important;
 margin-right: auto !important;
}

.gui_footer {
     margin-top: 0px;
     padding-top: 4px;
      border-top:1px solid #DDDDDD;
}
form.gui_form label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
  display:  inline-block;
  clear: both;
	color: red;
	font-style: italic;

}
form.gui_form  .ui-datepicker-trigger {
  margin: 3px 1px !important;
  vertical-align: middle;
     clear: none;
     display: inline-block;
	top: 0;
	width: 19px;
	height: 19px;
 	background: url(images/calendar.png) 50% center no-repeat;
	cursor: pointer;
	cursor: hand;
}

    #basic-modal-content {display:none;}

    /* Overlay */
    #simplemodal-overlay {background-color:#0f0f0f; cursor:wait;}

    /* Container */
    #simplemodal-container { background-color:#ffffff; border:4px solid #004088; padding:12px;}
    #simplemodal-container code {background:#ffffff; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
    #simplemodal-container a {color:#ddd;}
    #simplemodal-container a.modalCloseImg {background:url(images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

    #simplemodal-container #basic-modal-content {padding:8px;}


.bsmHighlight {
  color: #777;
}

.bsmSelect {
 /* margin: 1em 0 0.25em 0; */
}
.bsmListSortableCustom li {
  cursor: move;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2px 0;
}

/* custom */


.bsmList-custom {
  /* html list that contains selected items */
  margin: 0 0 0 0  !important;
  display: block;
  padding-left: 0;
  list-style: none;
}

.bsmListItem-custom {
  /* li item from the html list above */
  margin: 0 5px 5px 0   !important;
  padding: 4px   !important;
  list-style: none   !important;
  background: #ddd    !important;
  border: 1px solid #bbb   !important;
  line-height: 1em;
  float: left   !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.bsmListItem-custom:hover {
  background-color: #e5e5e5;
  box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  -moz-box-shadow: 0 0 3px #aaa;
}

.bsmListItemLabel-custom {
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.bsmListItemRemove-custom {
  text-decoration: none;
}
    #changes3 {
      position: absolute;
      width: 200px;
      left: 430px;
      background: #fff;
    }

.bsmListItemRemove-custom  a {
  color: #e16500  !important;
}

.bsmListItemRemove-custom a:hover {
  color: #c95a00  !important;
}

.ui-tabsx-panel { border: 1px outset  black;}

.ui-tabsx .ui-widget-header, .ui-tabs .ui-widget-content {
border: 0px solid #ededed;
background: #ededed url(images/ui-bg_highlight-soft_15_ededed_1x100.png) 50% 50% repeat-x;
}
.ui-accordion .ui-state-active, .ui-accordion .ui-widget-content .ui-state-active, .ui-accordion .ui-widget-header .ui-state-active { border: 1px solid #eeeeee; background: #2e5cad url(images/ui-bg_highlight-hard_65_2e5cad_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-accordion .ui-state-active a, .ui-accordion  .ui-state-active a:link, .ui-accordion .ui-state-active a:visited { color: #ffffff; text-decoration: none; }

			/* css for timepicker */
			.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
			.ui-timepicker-div dl{ text-align: left; }
			.ui-timepicker-div dl dt{ height: 25px; }
			.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
			.ui-timepicker-div td { font-size: 90%; }

.selectBox-datepicker {
	width: 140px; /* width = (desired width) - padding-right */
	padding-right: 40px;
	padding-top: .2em;
	padding-bottom: .2em;

	position: relative;
	border: solid 1px #BBB;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	cursor: default;
}

.selectBox-datepicker:focus,
.selectBox-datepicker:focus .ui-datepicker-trigger {
	border-color: #666;
}
.selectBox-datepicker input {

}
.selectBox-datepicker .selectBox-label {
  border: 0px;
  background: transparent  !important;
  margin-left: 2px;
	width: 100%;
	padding: .2em .3em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectBox-datepicker .ui-datepicker-trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(../img/calendar.png) 50% center no-repeat;
	border-left: solid 1px #BBB;
	cursor: pointer;
	cursor: hand;
}

#catcolor {
  padding-right: 3Px;
  padding-bottom: 3Px;
}

.art-article th, .art-article td, table .table_midtone {
  border-color : #F9FAFB   !important;
  }


  .pm_seatmap {
    margin:0;padding:0;
    vertical-align:middle;
    text-align: center;
     border:0px dashed transparent;
     padding:0  !important;
  }
  .pm_seatmap img {
     border:1px dashed transparent;margin:0;
     padding:0  !important;
  }
  .pm_shiftright {
    margin:0;padding:0;
    vertical-align:middle;
    text-align: center;
     border:0px dashed transparent;
  }
  .pm_table {margin:5px; border:0px  !important; padding:0px   !important;}
  .pm_info{width:100%;}
  .pm_box{width:600px; background-color:#FFFFFF; padding:10px;}
  .pm_nosale{background-color:#d2d2d2;width:14px; height:14px;}

  .pm_ruler {}

  .pm_free {background-color:#339900;width:14px; height:14px; border-right:#339900 1px solid;border-bottom:#339900 1px solid;padding:0px;}

  .pm_occupied {background-color:#FF0066;width:14px; height:14px;border-top:#000000 1px solid;border-left:#000000 1px solid;padding:0px;}

  .pm_none {padding:0px;zoom:1;}
  .pm_check {
    cursor:pointer;
  }

  .pm_first {
     clear:both;
  }

  .pm_check:hover {
    background-color:#4F07E2;
    cursor:pointer;
  }

  .seatmapimage {
    margin: 0px !important;
  }

/* login module */

#form-login fieldset.input
{
   border: none;
   margin: 0;
   padding: 0;
}

#form-login br
{
   display: none;
}

#form-login p
{
   margin: 0.5em 0 0 0;
}

#form-login #form-login-username label,
#form-login #form-login-password label
{
   display: block;
}

#form-login #form-login-remember input
{
   margin: 0;
   padding: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

#form-login #modlgn_username,
#form-login #modlgn_passwd
{
   width: 95%;
   margin: 0;
   padding: 0;
}

#form-login ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#form-login ul li
{
   background-image: none;
   padding: 0;
}
